<!-- Se renderizan los items que se encuentran en el archivo.txt -->
<div class="row justify-content-center">
  <% data.forEach(element => { %>
  <!-- <div class="col-sm-4 m-3"> -->
  <div class="card m-3" style="width: 18rem">
    <img
      src="https://images.unsplash.com/photo-1563201180-d98027da04f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title"><%= element.name %></h5>
      <p class="card-text"><%= element.description %></p>
      <p><b>price: <%= element.price %></b></p>
      <small><p>stock: <%= element.stock %></p></small>

      <button
        id="<%= element.id %>"
        onclick="agregarAlCarrito(id)"
        class="btn btn-primary"
      >
        Comprar
      </button>
    </div>
  </div>
  <!-- </div> -->
  <% }) %>
</div>
