<!DOCTYPE html>
<html lang="en">
  <%- include('templates/header'); -%>

  <body>
    <%- include('templates/nav'); -%>
    <div class="container contApp my-5">
      <div class="jumbotron text-center border-bottom my-3">
        <h1 class="display-4">Product List</h1>
        <p class="lead">Current product stock</p>
      </div>

      <div>
        <!-- Se agrega un buscador como componente -->
        <%- include('components/searchProductListComponent'); -%> <%if(items){%>
        <!-- Se agrega lista de productos como componente -->
        <%- include('components/productListComponent') -%> <% } else {%>
        <div>
          <h1></h1>
          <div class="alert alert-warning" role="alert">
            <%= MSG_NOT_FOUNT %>
          </div>
        </div>
        <% }%>
      </div>
    </div>

    <div class="bg-dark"><%- include('./templates/footer'); -%></div>

    <script src="../cart.js"></script>
  </body>
</html>
